/* Center title text */
.title-container {
text-align: center;
}
/* Change elements of title text */
.title-text {
font-size: 50px;
padding-bottom: 20px;
font-family: 'Gibson', sans-serif;
/* color: black; */
}
/* Adjust size of progress bar */
.stProgress > div > div > div {
height: 50px;
}
.stProgress {
color: #3c84f0;
/* background-color: #485c84; */
}
/*Center Metric*/
[data-testid='stMetric']{ 
width: fit-content;
margin: auto;
}
/*Center Metric Value*/
[data-testid='stMetricValue']{ 
width: fit-content;
margin: auto;
}
/*Center Metric Label*/
[data-testid='stMetricLabel'] {
width: fit-content;
margin: auto;
}
[data-testid='stMarkdownContainer'] {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
/* Centering Subheaders and Headers */
.st-emotion-cache-1dtefog.eqpbllx3 {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
/* Center Checkbox */
.row-widget.stCheckbox {
display: flex;
justify-content: center;
align-items: center;
padding-left: 10px;
}
/* Center Graph inside Checkbox */
[data-testid='stStyledFullScreenFrame'] {
display: flex;
justify-content: center;
align-items: center;
}
/* Center Selectbox label */
.st-emotion-cache-ue6h4q {
display: flex;
justify-content: center;
align-items: center;
}
[data-testid='stMetricDelta'] {
text-align: center;
font-size: 25px;
}
/* get rid of arrows in metrics - replacing them with emojis to better align the text */
.st-emotion-cache-jw45d2 {
display: none;
}